@import "./_variables.css";

body {
  font-family: var(--fontAvenir);
}

.container {
  padding: var(--ms0);
}

.container__navMain,
.container__header,
.container__main,
.container__footer {
  width: 100%;
  margin: 0 auto;

  @media (--breakpoint-not-small) {
    width: 25rem;
  }
}
