@import "../variables/_scale.css";
@import "../variables/_color.css";

.showNavigation {
  position: absolute;
  top: var(--ms0);
  left: var(--ms0);
}

.showNavigation__button {
  display: block;
  position: relative;
  width: var(--ms1);
  height: 2px;
  border: none;
  padding: 0;
  text-indent: -9999px;
  background: var(--colorBlack);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--colorBlack);
  }

  &::before {
    top: -7px;
  }

  &::after {
    top: 7px;
  }
}

/* .navigation {} */

/* .navigation--hidden {} */

/* .navigation__list {} */

/* .navigation__item {} */

/* .navigation__link {} */
