@import "./_variables.css";

.slideshow {
  position: relative;
  margin: 1rem 0;
}

.slideshowbtn {
  position: absolute;
  top: 50%;
  left: -0.5rem;
  width: 2rem;
  height: auto;
  margin: 0;
  border: none;
  border-radius: 100%;
  padding: 0;
  font-size: 2rem;
  line-height: 2rem;
  background-color: transparent;
  z-index: 2;
  transform: translateY(-50%);

  &:focus {
    outline: none;
  }

  @media (--breakpoint-not-small) {
    left: -3rem;
  }
}

.slideshowbtn-right {
  left: initial;
  right: -0.5rem;

  @media (--breakpoint-not-small) {
    right: -3rem;
  }
}

.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.nock-img {
  position: absolute;
  top: 0;
  left: 0;
}
