@import "./_variables.css";

.exhibition__list-link {
  color: var(--colorBlack);
}

.exhibition__content {
  text-align: left;
}

.sponsors {
  text-align: center;
}

.sponsors img {
  width: calc(50% - 1rem);
  margin-right: 1rem;

  &:nth-child(even) {
    margin-right: 0;
  }
}
