@import "./_variables.css";

.header {
  z-index: var(--z1);
  width: 100%;
  padding: var(--ms0);

  @media (--breakpoint-not-small) {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
  }
}

.header__title__logotype {
  display: block;
  width: 60%;
  margin: 0 auto;

  & path { fill: var(--colorBlack); }

  @media (--breakpoint-not-small) {
    width: calc(var(--ms4) * 2);
  }
}
