@import "./_variables.css";

.main {
  display: block;
  z-index: var(--z0);
  height: auto;
  padding: var(--ms2) var(--ms0);

  @media (--breakpoint-not-small) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: auto;
    min-height: 85vh;
    margin-bottom: 10rem;
  }
}

.main__title {
  margin-bottom: var(--ms3);
  font-size: var(--ms1);
  font-weight: var(--bold);
  text-transform: uppercase;
  line-height: var(--lh1);
}
