@import "_variables.css";

.article {
  width: 100%;
  margin-bottom: var(--ms3);

  &:last-of-type { margin-bottom: 0; }
}

.article__header { margin-bottom: var(--ms0); }

.article__header__title {
  font-size: var(--ms1);
  font-weight: var(--bold);
  text-transform: uppercase;
  line-height: var(--lh1);
}

.article__header__meta { font-size: var(--ms-1); }

.article__content {
  margin-bottom: var(--ms-1);
  font-size: var(--ms0);

  & > * { margin-bottom: var(--ms0); }
  & > *:last-child { margin-bottom: 0; }

  & p { line-height: var(--lh3); }

  & a { @apply --standardLink; }

  & strong { font-weight: var(--bold); }

  & em { font-style: italic; }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-weight: var(--bold);
    line-height: var(--lh1);
  }

  & h1 { font-size: var(--ms2); }
  & h2 { font-size: var(--ms1); }

  & blockquote {
    border-left: var(--border1);
    padding-left: var(--ms0);
  }

  & blockquote p { font-style: italic; }

  & ol,
  & ul {
    padding-left: var(--ms0);
    list-style-type: none;
  }

  & ol { counter-reset: article-ol; }

  & li::before {
    margin-right: var(--ms-1);
    font-size: var(--ms-1);
  }

  & ul li::before { content: "•"; }

  & ol li::before {
    content: counters(article-ol, ".");
    counter-increment: article-ol;
  }
}
