@import "_variables.css";

.main {
  display: block;
  z-index: var(--z0);
  height: auto;
  min-height: 100vh;
  border: var(--border1);
  border-top: none;
  border-bottom: none;
  padding: var(--ms2) var(--ms0);
}

.main__title {
  margin-bottom: var(--ms3);
  font-size: var(--ms1);
  font-weight: var(--bold);
  text-transform: uppercase;
  line-height: var(--lh1);
}
