@import "./_variables.css";

.debug,
.debug * {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.link {
  @apply --standardLink;
}

.balance-text {
  text-wrap: balanced;
}
