<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head" . }}
  </head>
  <body>
    <div class="container">
      <div class="container__navMain">
        {{ partial "nav-main" . }}
      </div>

      <div class="container__main">
        {{ partial "header" . }}

        <main class="main">
          {{ block "main" . }}
          {{ end }}
        </main>
      </div>
    </div>

    {{ template "_internal/google_analytics_async.html" . }}
    <script src="/app.js" async></script>
  </body>
</html>
