<article class="article">
  <header class="article__header">
    <h3 class="summary__title">
      <a class="summary__title__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
    <p class="article__header__meta">
      <time pubdate="pubdate" datetime="{{ .Date | dateFormat "2006-01-02T15:04:05Z07:00" }}">
        Published on {{ .Date | dateFormat "January 2, 2006" }}
      </time>
    </p>
  </header>

  <div class="article__content">
    {{ if .Truncated }}
      {{ .Summary }}
    {{ else }}
      {{ .Content }}
    {{ end }}
  </div>

  <div class="summary__readMore">
    <a class="summary__readMore__link" href="{{ .RelPermalink }}">Read more</a>
  </div>
</article>
