{{ $cloudinaryUrl := "https://res.cloudinary.com/adambrgmn/image/upload" }}
<p>
  <img
    srcset="/uploads/{{ replaceRE "^(.+)(.{1})(png|gif|jpg|jpeg)$" "$1-w_740.$3" (.Get 0) }} 740w,
            /uploads/{{ replaceRE "^(.+)(.{1})(png|gif|jpg|jpeg)$" "$1-w_640.$3" (.Get 0) }} 640w,
            /uploads/{{ replaceRE "^(.+)(.{1})(png|gif|jpg|jpeg)$" "$1-w_370.$3" (.Get 0) }} 370w,
            /uploads/{{ replaceRE "^(.+)(.{1})(png|gif|jpg|jpeg)$" "$1-w_320.$3" (.Get 0) }} 320w"
    sizes="(min-width: 30em) calc(100vw - 2rem), 23em"
    src="/uploads/{{ replaceRE "^(.+)(.{1})(png|gif|jpg|jpeg)$" "$1-w_740.$3" (.Get 0) }}"
    {{ if len .Params | eq 2 }}alt="{{ .Get 1 }}"{{ end }}
  />
</p>
